<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
<title th:text="${title}"></title>
<link rel="stylesheet" type="text/css" href="/assets/css/style-404.css" />
<link href="/assets/images/favicon.png" rel="shortcut icon"
	type="image/x-icon" />

<style>
pre {
	background-color: #f4f4f4;
	border: 1px solid #ddd;
	padding: 10px;
	overflow: auto;
}

code {
	display: block;
	white-space: pre-wrap;
}
</style>
</head>

<body>
	<div class="container">
		<img class="ops" src="/assets/images/exam_finished.png" height="355" width="500"/> <br />

		<br /> <a class="buton" href="/app/dashboard">Regresar al panel</a>
	</div>
</body>

</html>